body {
  background-color: #E9F5FF;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.MuiLinearProgress-bar {
  color: #d84177;
}

.card-box__button {
  background-color: #d84177;
  border: #d84177;
}

.answer-button:hover .arrow-icon {
  transform: scale(1.2);
}

.arrow-icon {
  margin-right: 8px;
  padding-left: 5px;
  transition: transform 0.2s ease-in-out;
}

.box-container {
	width:700px;
	min-height:450px;
	margin:50px auto;
  padding: 1rem;
	position:relative;
	transform-style: preserve-3d;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition:all .6s ease-in-out;
  overflow-wrap: break-word;
  border: #d84177 solid 1px;
}

.topic {
  background-color: #d84177;
  border: #d84177;
  justify-content: center;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
}

.card-box__front {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}



