.react-calendar-heatmap .color-1 {
  fill: #e3faff;
}
.react-calendar-heatmap .color-2 {
  fill: #a8c4e5;
}
.react-calendar-heatmap .color-3 {
  fill: #d1cfe2;
}
.react-calendar-heatmap .color-4 {
  fill: #b3b1c9;
}
.react-calendar-heatmap .color-5 {
  fill: #958fb1;
}
.react-calendar-heatmap .color-6 {
  fill: #786a97;
}
.react-calendar-heatmap .color-7 {
  fill: #5c4f7e;
}
.react-calendar-heatmap .color-8 {
  fill: #412a64;
}
.react-calendar-heatmap .color-9 {
  fill: #2a1b47;
}
.react-calendar-heatmap .color-10 {
  fill: #271d30;
}
